#main_column {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1em;
  grid-auto-rows: minmax(200px, auto); 
  word-wrap: break-word;
  padding-right: 5%;
}

.columns {
  padding-top: 1%;
}

.panel {
  padding: 4%;
}
